@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: radial-gradient(circle, rgba(212, 18, 18, 0.928), rgba(32, 8, 75, 0.928));
   height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white; /* Text color */
  }

  .centered-logo h1 {
    font-size: 36px;
    margin-top: 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    position: relative;
   
  }
  
  .centered-logo {
    text-align: center;
    margin-bottom: 20px;
    opacity: 0.9;
   width:100%;
    
  }
  
  .centered-logo img {
    max-width: 100%;
    height: 20vh;
    width: 100%;
    transition: transform 0.3s ease, opacity 0.7s ease;
    opacity: 0.7;
  }
  
  .centered-logo:hover img {
    transform: scale(1.1);
    opacity: 1;
    filter: grayscale(0%);
    box-shadow: 0 0 20px rgba(100, 14, 8, 0.9);
  }
  
  .word {
    font-weight: bold;
    display: inline-block;
    transition: all 0.3s ease-in-out;
  
  }
  .word:hover {
    font-family: 'Bangers', cursive;
    transform: scale(1.2);
   
}
  
  #pick { color: #d82926; }
  #pack { color: #dee776; }
  #boom { color: #3348cd; }
  
  h1 {
    color: #ffffff; /* Heading color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  

.form-container{
    color: rgba(249, 242, 241, 0.727);
    background: radial-gradient(circle, rgba(255, 255, 204, 0.9), rgba(255, 235, 59, 0.5));
    border: 1px solid rgb(20, 1, 74);
    width: 90%;
    max-width: 500px;
    padding: 20px;
    margin: 50px auto;
    text-align:center;
    justify-content: center;
    font-family: 'Comic Neue', cursive;
    box-shadow: 0 8px 16px rgb(7, 7, 8); /* Bigger and more visible shadow */
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
     transition: transform 0.3s ease, box-shadow 0.3s ease; 

}

@media (max-width: 768px) {
    .form-container{
        max-width: 90%;
    }

    .form-container h1 {
        font-size: 14px;
    }
}

.form-container:hover {
    transform: translateY(-5px); 
    box-shadow: 0 20px 30px rgb(233, 235, 240); 
}
 .form-container h1 {
    color: #160303;
    padding-bottom:10px;
    font-family: 'Bangers', cursive;
    font-size: xx-large;
}

@media screen and (max-width: 768px) {
    .form-container{
        width: 100%; 
        margin: 20px auto;
    }
}


@media screen and (max-width: 480px) {
    .form-container {
        padding: 10px; 
    }
}


.font {
    display: block;
    font-size: 15pt;
    margin-bottom: 5px;
    
    color: rgba(5, 5, 5, 0.831);
    font-weight: bold;
}


.form-container .input_box{
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #0c0b0b;
    border-radius: 5px;
    font-size: 18px;
    color: #e7e5ee;
    border: 1px solid rgba(23, 7, 80, 0.942);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 75%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.706);
 
}


#email_error{
    font-size: 8pt;
    color: rgba(60, 10, 10, 0.902);
    font-weight: bold;
    
}

#pass_error{
    font-size: 8pt;
    color: rgba(86, 7, 7, 0.902);
    font-weight: bold;
    
}

.click{
   font-size: 20pt;
   border: none;
   border-radius: 10px;
   width: 250px;
   height: 40px;
   font-family: 'Bangers', cursive;
   justify-content: center;
   display: inline-block;
   border-radius:50px;
   background: radial-gradient(circle, rgba(212, 18, 18, 0.928), rgba(32, 8, 75, 0.928));
   box-shadow: 0 0 20px rgba(11, 23, 64, 0.934); 
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   padding:2px;
   color:white;
}

.click::before {
    content: "Click me to play the game";
    position: absolute;
    top:95%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: #f5e9e9; 
    opacity: 5;
    transition: opacity 0.3s ease; 
    
}

.click:hover{
    background: radial-gradient(circle, rgba(218, 165, 32, 0.9), rgba(184, 134, 11, 0.5));
    transition: 0.10s ease;
    transform: translate(0, -4px);
    box-shadow: 0 12px 20px rgba(11, 23, 64, 0.7);
  
}



.footer {
    background: radial-gradient(circle, rgba(100, 0, 100, 0.5), rgba(0, 0, 0, -0.5)); 
    padding: 20px 0;
    text-align: center;
   max-width:100%;
    justify-content: center;
   margin-bottom: 0;
  }
  
  /* Adjusted footer text */
  .footer-text {
    margin-bottom: 10px;
    font-size: 16px;
    color: white; /* Adjusted text color */
  }
  
  .footer-text a {
    color: #2980b9; /* Adjusted link color */
    text-decoration: none;
  }
  
  .footer-text a:hover {
    text-decoration: underline;
  }